$text-color: #ffffff;
$text-hover--color: #a49480;
$text-heading--color: #555555;
$btn-color: #998675;
$bg-main--color: $text-color;
$bg-second--color: #fbfaf8;
$bg-purchase--color: #4b3226;
$bg-icon--color: $bg-purchase--color;
$icon-color: $text-heading--color;
$icon-hover--color: #c7b299;
$icon-color--second: $icon-hover--color;
$base-font-size: 16px;
$font-weight--monts: 300;
$font-style--monts: normal;
$font-weight--montsultra: 200;
$font-weight--ralereg: 400;
$font-style--ralereg: $font-style--monts;
$font-weight--ralemed: 500;
$font-style--ralemed: $font-style--monts;
$font-weight--semibold: 600;
$font-style--semibold: $font-style--monts;
$font-weight--extrabold: 800;
$font-style--extrabold: $font-style--monts;
$font-family--monts: montserrat-light, sans-serif;
$font-family--ralereg: raleway-regular, sans-serif;
$font-family-ralemed: raleway-medium, sans-serif;
$font-family-raleextra: raleway-extrabold, sans-serif;
$font-family-ralesemi: raleway-semibold, sans-serif;
$font-family-montsultra: montserrat-ultra-light, sans-serif;
$logo-hover--color: $btn-color;
$carusel-item--color: #a3a2a0;
$font-style--ralebold: $font-style--monts;
$font-weight--ralebold: 800;
$font-family--ralebold: raleway-bold, sans-serif;
$text-active-color: #90795b;
